.section {
  padding: 10px;
}

.admin_buttons {
  display: inline;
}

.d-flex div{
  width: 100%;
  padding: 5px;
  text-align: center;
  align-items: center;
  align-content: stretch;
  justify-content: center;
  flex-direction: row;
  display:inline-block;
}

.carousel-style div{
  width: 75%;
  margin: auto;
}

.carousel-style Carousel.Item{
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  margin: auto;
  width: 70%;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 70px;
}

.grid-container > div {
  text-align: center;
  padding: 10px 0;
}

.grid-items {
  text-align: center;
  width: 50%;
  height: auto;
}

.product {
  grid-template-rows: auto 1fr;
  border-radius: var(--mainBorderRadius);
}



.product-center{
  display: grid;
  row-gap: 5px;
  column-gap: 5px;
  width: var(--smallWidth);
  margin: 0 auto;
  max-width: var(--fullWidth);
  display: grid;
  row-gap: 2rem;
  column-gap: 2rem;
}

.image-product{
  max-width: 420px;
  max-height: auto;
}